In [99]:
import pandas as pd
import numpy as np
from plotly import express as px

In [100]:
degrees = pd.read_csv('education.csv')
experiences = pd.read_csv('experiences.csv')

In [101]:
degrees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561 entries, 0 to 560
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   school          561 non-null    object
 1   degree          489 non-null    object
 2   field_of_study  481 non-null    object
 3   start           521 non-null    float64
 4   end             516 non-null    float64
 5   id              561 non-null    object
 6   location        509 non-null    object
 7   Country         502 non-null    object
dtypes: float64(2), object(6)
memory usage: 35.2+ KB

In [102]:
experiences.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2560 entries, 0 to 2559
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        2560 non-null   object
 1   company      2560 non-null   object
 2   location     2560 non-null   object
 3   description  1800 non-null   object
 4   id           2560 non-null   object
 5   from         2560 non-null   object
 6   to           2524 non-null   object
 7   Country      2560 non-null   object
dtypes: object(8)
memory usage: 160.1+ KB

In [103]:
len(experiences['id'].unique())

368

In [104]:
len(degrees['id'].unique())

252

# 1. What are the most common degrees?

In [105]:
most_common_degrees = (degrees.groupby('field_of_study').size().apply(lambda x: x / len(degrees['id'].unique()))
                        .sort_values(ascending=False)[:10].reset_index().rename(columns={0: 'fraction'}))
px.bar(most_common_degrees, x='field_of_study', y='fraction')

# 2. What is the breakdown of degrees earned?

In [106]:
def degree_type(d):
    if 'ph.d' in d:
        return 'Ph.D'
    elif 'master' in d or 'ms' in d or 'm.s' in d:
        return 'Masters'
    elif 'bachelor' in d or 'bs' in d or 'ba' in d or 'b.s' in d:
        return 'Bachelors'
    else:
        return 'Unknown'
degrees['degree'] = degrees['degree'][degrees['degree'].notnull()].str.lower().apply(degree_type)
has_bachelors = degrees.groupby('id')['degree'].apply(lambda d: 'Bachelors' in set(d)).reset_index()\
                    .rename(columns={'degree': 'has_bachelors'})
has_masters = degrees.groupby('id')['degree'].apply(lambda d: 'Masters' in set(d)).reset_index()\
                .rename(columns={'degree': 'has_masters'})
has_phd = degrees.groupby('id')['degree'].apply(lambda d: 'Ph.D' in set(d)).reset_index()\
                .rename(columns={'degree': 'has_phd'})
degree_types = has_bachelors.merge(has_masters, on='id').merge(has_phd, on='id')

def highest(d):
    if d['has_phd']:
        return 'Ph.D'
    elif d['has_masters']:
        return 'Masters'
    elif d['has_bachelors']:
        return 'Bachelors'
    else:
        return 'Unkown'
    
degree_types['highest'] = degree_types.apply(highest, axis=1)
N = len(degrees['id'].unique())
highest_frac = degree_types.groupby('highest').size().apply(lambda x: x / N)\
                .reset_index().rename(columns={0:'fraction'}).sort_values('fraction', ascending=False)
px.bar(highest_frac, x='highest', y='fraction')

# 3. What countries are people from?

In [107]:
from_china = degrees.groupby('id')['Country'].apply(set).apply(lambda x: 'China' in x).mean()
from_india = degrees.groupby('id')['Country'].apply(set).apply(lambda x: 'India' in x).mean()
from_us = degrees.groupby('id')['Country'].apply(set).apply(lambda x: len(x) == 1 and 'United States' in x).mean()
from_canada = degrees.groupby('id')['Country'].apply(set).apply(lambda x: 'Canada' in x).mean()
from_ = pd.DataFrame({'Country': ['China', 'US', 'India', 'Canada'], 'Fraction': [from_china, from_us, from_india, from_canada]})
px.bar(from_, x='Country', y='Fraction')

In [108]:
another_country = degrees[degrees['Country'].notnull()].groupby('id')['Country'].apply(set).apply(lambda x: 'United States' not in x or len(x) > 1).mean()
only_us_degree = degrees[degrees['Country'].notnull()].groupby('id')['Country'].apply(set).apply(lambda x: len(x) == 1 and 'United States' in x).mean()

In [109]:
px.bar(pd.DataFrame({'From': ['Another Country', 'Only US'], 'Fraction': [another_country, only_us_degree]}), x='From', y='Fraction')

In [110]:
experiences[experiences['Country'].notnull()].groupby('id')['Country'].apply(set).apply(lambda x: len(x) == 1 and 'United States' in x).mean()

0.6032608695652174

In [111]:
only_us_degree = degrees[degrees['Country'].notnull()].groupby('id')['Country'].apply(set).apply(lambda x: len(x) == 1 and 'United States' in x).mean()

In [112]:
us_degree_and_other_country = degrees[degrees['Country'].notnull()].groupby('id')['Country'].apply(set).apply(lambda x: len(x) > 1 and 'United States' in x).mean()

In [113]:
only_other_country_degree = degrees[degrees['Country'].notnull()].groupby('id')['Country'].apply(set).apply(lambda x: 'United States' not in x).mean()

In [114]:
px.bar(pd.DataFrame({'Degree Country': ['US and Other', 'Only US', 'Only Other'], 'Fraction': [us_degree_and_other_country, only_us_degree, only_other_country_degree]}), x='Degree Country', y='Fraction')

In [115]:
only_us_degree = degrees[degrees['Country'].notnull()].groupby('id')['Country'].apply(set).apply(lambda x: len(x) == 1 and 'United States' in x)
for id in only_us_degree[only_us_degree == True].index:
    display(degrees[degrees['id'] == id])

,school,degree,field_of_study,start,end,id,location,Country
363,New York University,Ph.D,Cryptography,2009.0,2014.0,https://www.linkedin.com/in/adriana-lopez-alt-...,"New York, NY 10003",United States
364,Massachusetts Institute of Technology,Bachelors,Mathematics and Computer Science,2003.0,2007.0,https://www.linkedin.com/in/adriana-lopez-alt-...,"77 Massachusetts Ave, Cambridge, MA 02139",United States
365,Colegio Santa Maria,NaN,NaN,NaN,NaN,https://www.linkedin.com/in/adriana-lopez-alt-...,NaN,NaN

,school,degree,field_of_study,start,end,id,location,Country
319,Cornell University,Bachelors,Computer Science,2013.0,2018.0,https://www.linkedin.com/in/alexyoo12/,"Ithaca, NY 14850",United States

,school,degree,field_of_study,start,end,id,location,Country
468,Fullstack Academy of Code,Unknown,Web Development,2016.0,2016.0,https://www.linkedin.com/in/andrewash9/,"5 Hanover Square 11th floor, New York, NY 10004",United States
469,Brooke & Mary,NaN,Commercial Acting,2009.0,2010.0,https://www.linkedin.com/in/andrewash9/,NaN,NaN
470,Yale University,Bachelors,Humanities,2004.0,2008.0,https://www.linkedin.com/in/andrewash9/,"New Haven, CT 06520",United States

,school,degree,field_of_study,start,end,id,location,Country
223,University of Illinois at Chicago,Bachelors,Computer Science,2015.0,2019.0,https://www.linkedin.com/in/anusha-pai/,"1200 W Harrison St, Chicago, IL 60607",United States

,school,degree,field_of_study,start,end,id,location,Country
108,Georgia Institute of Technology,Bachelors,Biomedical Engineering,2014.0,2019.0,https://www.linkedin.com/in/areebaabid/,"North Ave NW, Atlanta, GA 30332",United States

,school,degree,field_of_study,start,end,id,location,Country
314,University of Southern California,Bachelors,Computer Science,2017.0,2019.0,https://www.linkedin.com/in/beyzabozbey/,"Los Angeles, CA 90007",United States
315,Sabanci University,Bachelors,Computer Science & Engineering,2013.0,2016.0,https://www.linkedin.com/in/beyzabozbey/,NaN,NaN

,school,degree,field_of_study,start,end,id,location,Country
227,Caltech,Bachelors,Electrical and Computer Engineering,1999.0,2003.0,https://www.linkedin.com/in/blee2/,"1200 E California Blvd, Pasadena, CA 91125",United States
228,"University of California, Santa Barbara",Ph.D,Electrical and Computer Engineering,2003.0,2007.0,https://www.linkedin.com/in/blee2/,"Santa Barbara, CA 93106",United States

,school,degree,field_of_study,start,end,id,location,Country
74,University of Alabama in Huntsville,Bachelors,Computer Science,2007.0,2010.0,https://www.linkedin.com/in/brandon-salazar-a8...,"Shelby Center for Science and Technology, 301 ...",United States
75,Bellevue Community College,Unknown,Computer Science,2005.0,2007.0,https://www.linkedin.com/in/brandon-salazar-a8...,"3000 Landerholm Cir SE, Bellevue, WA 98007",United States

,school,degree,field_of_study,start,end,id,location,Country
153,Massachusetts Institute of Technology,Masters,Electrical Engineering & Computer Science,2015.0,2016.0,https://www.linkedin.com/in/brendanschang/,"77 Massachusetts Ave, Cambridge, MA 02139",United States
154,Massachusetts Institute of Technology,Bachelors,Electrical Engineering & Computer Science,2012.0,2016.0,https://www.linkedin.com/in/brendanschang/,"77 Massachusetts Ave, Cambridge, MA 02139",United States
155,International Baccalaureate,Bachelors,General Studies,2010.0,2012.0,https://www.linkedin.com/in/brendanschang/,NaN,NaN

,school,degree,field_of_study,start,end,id,location,Country
418,Harvard Extension School,NaN,Computer Science,2018.0,2018.0,https://www.linkedin.com/in/callahanchris/,NaN,NaN
419,The Flatiron School,NaN,Ruby005,2014.0,2014.0,https://www.linkedin.com/in/callahanchris/,NaN,NaN
420,University of Wisconsin-Madison,Bachelors,Economics; History,2010.0,2011.0,https://www.linkedin.com/in/callahanchris/,"Madison, WI",United States

,school,degree,field_of_study,start,end,id,location,Country
435,App Academy,NaN,Web Development,2015.0,2015.0,https://www.linkedin.com/in/carlbaron1/,"825 Battery St, San Francisco, CA 94111",United States
436,Manhattan School of Music,Masters,Cello Performance,2009.0,2011.0,https://www.linkedin.com/in/carlbaron1/,"130 Claremont Ave, New York, NY 10027",United States
437,"Purchase College, SUNY",Bachelors,Cello Performance,2006.0,2009.0,https://www.linkedin.com/in/carlbaron1/,"735 Anderson Hill Rd, Purchase, NY 10577",United States

,school,degree,field_of_study,start,end,id,location,Country
502,Carnegie Mellon University,Masters,MSIT Ebusiness,2015.0,2016.0,https://www.linkedin.com/in/chang-chauncey-liu...,"5000 Forbes Ave, Pittsburgh, PA 15213",United States
503,Northwestern Polytechnical University,Bachelors,Computer Software Engineering,2011.0,2015.0,https://www.linkedin.com/in/chang-chauncey-liu...,NaN,NaN

,school,degree,field_of_study,start,end,id,location,Country
12,"University of California, Berkeley",Bachelors,Electrical Engineering and Computer Science; E...,2010.0,2013.0,https://www.linkedin.com/in/chenyuzhao/,"Berkeley, CA",United States
13,Montgomery Blair High School Magnet Program,NaN,NaN,2006.0,2010.0,https://www.linkedin.com/in/chenyuzhao/,"51 University Blvd E, Silver Spring, MD 20901",United States

,school,degree,field_of_study,start,end,id,location,Country
416,Georgia Institute of Technology,Ph.D,Computer Engineering,2011.0,2017.0,https://www.linkedin.com/in/chiachen-chou-3169...,"North Ave NW, Atlanta, GA 30332",United States
417,Georgia Institute of Technology,Masters,Electrical and Computer Engineering,2011.0,2013.0,https://www.linkedin.com/in/chiachen-chou-3169...,"North Ave NW, Atlanta, GA 30332",United States

,school,degree,field_of_study,start,end,id,location,Country
341,Cornell University,Ph.D,Computer Science,2001.0,2005.0,https://www.linkedin.com/in/david-chen-177ab9a5/,"Ithaca, NY 14850",United States

,school,degree,field_of_study,start,end,id,location,Country
224,University of California San Diego,Masters,Computer Science,2016.0,2017.0,https://www.linkedin.com/in/dih024/,"9500 Gilman Dr, La Jolla, CA 92093",United States
225,Southeast University,Bachelors,Computer Software Engineering,2010.0,2014.0,https://www.linkedin.com/in/dih024/,"1000 Longfellow Blvd, Lakeland, FL 33801",NaN

,school,degree,field_of_study,start,end,id,location,Country
63,"University of California, Berkeley",Bachelors,Electrical Engineering & Computer Science,2010.0,2015.0,https://www.linkedin.com/in/dominicklim/,"Berkeley, CA",United States
64,American High School,Unknown,NaN,2006.0,2010.0,https://www.linkedin.com/in/dominicklim/,NaN,NaN

,school,degree,field_of_study,start,end,id,location,Country
484,"University of California, Berkeley",Bachelors,Computer Science,2012.0,2016.0,https://www.linkedin.com/in/emily-xu-a2a378130/,"Berkeley, CA",United States

,school,degree,field_of_study,start,end,id,location,Country
387,University of Michigan,Bachelors,Computer Science,2016.0,2020.0,https://www.linkedin.com/in/franklin-luo/,"500 S State St, Ann Arbor, MI 48109",United States

,school,degree,field_of_study,start,end,id,location,Country
306,"University of California, San Diego",Bachelors,"Biology, General (Minor: Computer Science and ...",2009.0,2014.0,https://www.linkedin.com/in/gabriella-erwin-40...,"9500 Gilman Dr, La Jolla, CA 92093",United States
307,Alta Loma High School,NaN,NaN,2004.0,2009.0,https://www.linkedin.com/in/gabriella-erwin-40...,"8880 Base Line Rd, Rancho Cucamonga, CA 91701",United States

,school,degree,field_of_study,start,end,id,location,Country
76,University of Southern California,Masters,Computer Science,2018.0,2020.0,https://www.linkedin.com/in/gauri-kalra/,"Los Angeles, CA 90007",United States
77,Thapar Institute of Engineering and Technology,NaN,NaN,2011.0,2015.0,https://www.linkedin.com/in/gauri-kalra/,NaN,NaN

,school,degree,field_of_study,start,end,id,location,Country
148,Morgan State University,Bachelors,Computer Science,2017.0,2021.0,https://www.linkedin.com/in/george-m-29801383/,"1700 E Cold Spring Ln, Baltimore, MD 21251",United States
149,High Point High School,NaN,NaN,2013.0,2017.0,https://www.linkedin.com/in/george-m-29801383/,NaN,NaN

,school,degree,field_of_study,start,end,id,location,Country
291,"University of Massachusetts, Amherst",NaN,NaN,1994.0,1999.0,https://www.linkedin.com/in/gordon-sims-8b25a63/,"Amherst, MA 01003",United States

,school,degree,field_of_study,start,end,id,location,Country
226,Georgia Institute of Technology,Bachelors,Computer Science,2018.0,2022.0,https://www.linkedin.com/in/huey-rowe-anderson...,"North Ave NW, Atlanta, GA 30332",United States

,school,degree,field_of_study,start,end,id,location,Country
71,Emory University,Bachelors,Economics,2003.0,2007.0,https://www.linkedin.com/in/ios-software-engin...,"201 Dowman Dr, Atlanta, GA 30322",United States

,school,degree,field_of_study,start,end,id,location,Country
359,University of Pennsylvania,Bachelors,Digital Media Design,2014.0,2018.0,https://www.linkedin.com/in/isabelren/,"Philadelphia, PA 19104",United States
360,Plainview-Old Bethpage John F. Kennedy High Sc...,NaN,NaN,2010.0,2014.0,https://www.linkedin.com/in/isabelren/,"50 Kennedy Dr, Plainview, NY 11803",United States

,school,degree,field_of_study,start,end,id,location,Country
97,Georgia Institute of Technology,Masters,Computer Science,2011.0,2012.0,https://www.linkedin.com/in/jamesoguntebi/,"North Ave NW, Atlanta, GA 30332",United States
98,Georgia Institute of Technology,Bachelors,Computer Science,2007.0,2011.0,https://www.linkedin.com/in/jamesoguntebi/,"North Ave NW, Atlanta, GA 30332",United States

,school,degree,field_of_study,start,end,id,location,Country
193,Georgia Institute of Technology,Bachelors,Computer Science,2015.0,2019.0,https://www.linkedin.com/in/jared-duncan/,"North Ave NW, Atlanta, GA 30332",United States

,school,degree,field_of_study,start,end,id,location,Country
206,Georgia Institute of Technology,NaN,NaN,2004.0,2009.0,https://www.linkedin.com/in/jeremy-lewi-600aaa8/,"North Ave NW, Atlanta, GA 30332",United States
207,Columbia Engineering,Bachelors,Biomedical Engineering,2000.0,2004.0,https://www.linkedin.com/in/jeremy-lewi-600aaa8/,"2862 Buford Hwy #200, Duluth, GA 30096",United States
208,Choate Rosemary Hall,NaN,NaN,1996.0,2000.0,https://www.linkedin.com/in/jeremy-lewi-600aaa8/,"333 Christian St, Wallingford, CT 06492",United States

,school,degree,field_of_study,start,end,id,location,Country
375,University of Pittsburgh,Bachelors,Computer Science and Business,NaN,NaN,https://www.linkedin.com/in/jiajie-d-3baa4a75/,"4200 Fifth Ave, Pittsburgh, PA 15260",United States

,school,degree,field_of_study,start,end,id,location,Country
338,"University of California, San Diego - Jacobs S...",Masters,Computer Science,2017.0,2018.0,https://www.linkedin.com/in/jiamin-he-4bb418125/,"9500 Gilman Dr, La Jolla, CA 92093",United States
339,Massachusetts Institute of Technology,Unknown,Computer Science and Aritificial Intelligence,2016.0,2017.0,https://www.linkedin.com/in/jiamin-he-4bb418125/,"77 Massachusetts Ave, Cambridge, MA 02139",United States
340,Tianjin University,Bachelors,Electrical and Electronics Engineering,2013.0,2017.0,https://www.linkedin.com/in/jiamin-he-4bb418125/,NaN,NaN

,school,degree,field_of_study,start,end,id,location,Country
385,San Jose State University,Bachelors,"Computer Science(Major), Mathematics(Minor)",2012.0,2014.0,https://www.linkedin.com/in/jianqiwang/,"1 Washington Sq, San Jose, CA 95192",United States
386,De Anza College,NaN,Computer Science,2010.0,2012.0,https://www.linkedin.com/in/jianqiwang/,"21250 Stevens Creek Blvd, Cupertino, CA 95014",United States

,school,degree,field_of_study,start,end,id,location,Country
67,Illinois Institute of Technology,Masters,Computer Engineering,2018.0,2020.0,https://www.linkedin.com/in/jiayi-wang-753b9371/,"10 W 35th St, Chicago, IL 60616",United States
68,University of Illinois at Urbana-Champaign,Unknown,Electrical and Electronics Engineering,2012.0,2016.0,https://www.linkedin.com/in/jiayi-wang-753b9371/,"Champaign, IL",United States

,school,degree,field_of_study,start,end,id,location,Country
236,Stanford University,Bachelors,Computer Science,2009.0,2013.0,https://www.linkedin.com/in/joanna-chen-7b4128b8/,"450 Serra Mall, Stanford, CA 94305",United States

,school,degree,field_of_study,start,end,id,location,Country
258,Georgia Institute of Technology,Bachelors,Computer Science,2016.0,2020.0,https://www.linkedin.com/in/jorge-betancourt-6...,"North Ave NW, Atlanta, GA 30332",United States

,school,degree,field_of_study,start,end,id,location,Country
361,Georgia Institute of Technology,Bachelors,Computer Science,NaN,NaN,https://www.linkedin.com/in/kevinfallon1991/,"North Ave NW, Atlanta, GA 30332",United States
362,Georgia Institute of Technology,Bachelors,Industrial Engineering,NaN,NaN,https://www.linkedin.com/in/kevinfallon1991/,"North Ave NW, Atlanta, GA 30332",United States

,school,degree,field_of_study,start,end,id,location,Country
477,Haverford College,Bachelors,"Computer Science, Statistics (Minor)",2011.0,2017.0,https://www.linkedin.com/in/kyuhyunchang/,"370 Lancaster Ave, Haverford, PA 19041",United States

,school,degree,field_of_study,start,end,id,location,Country
457,California Polytechnic State University-San Lu...,Bachelors,Biological Sciences,2011.0,2015.0,https://www.linkedin.com/in/laurenmadigan/,"San Luis Obispo, CA 93407",United States

,school,degree,field_of_study,start,end,id,location,Country
242,Hampton University,Bachelors,Computer Science,2013.0,2017.0,https://www.linkedin.com/in/laurenmpatterson/,"100 E Queen St, Hampton, VA 23669",United States
243,Radnor High School,Unknown,NaN,2009.0,2013.0,https://www.linkedin.com/in/laurenmpatterson/,"130 King of Prussia Rd, Wayne, PA 19087",United States

,school,degree,field_of_study,start,end,id,location,Country
106,Carnegie Mellon University,Masters,Computer Software Engineering,NaN,NaN,https://www.linkedin.com/in/loveai/,"5000 Forbes Ave, Pittsburgh, PA 15213",United States
107,Northeastern University,Bachelors,Computer Software Engineering,NaN,NaN,https://www.linkedin.com/in/loveai/,"360 Huntington Ave, Boston, MA 02115",United States

,school,degree,field_of_study,start,end,id,location,Country
116,New York University,Bachelors,Computer Science,2014.0,2018.0,https://www.linkedin.com/in/melissa-lopez/,"New York, NY 10003",United States
117,El Modena High School,NaN,NaN,2010.0,2014.0,https://www.linkedin.com/in/melissa-lopez/,"3920 E Spring St, Orange, CA 92869",United States

,school,degree,field_of_study,start,end,id,location,Country
492,Vanderbilt University,Unknown,Engineering,2016.0,2020.0,https://www.linkedin.com/in/michelleabreo/,"2201 West End Ave, Nashville, TN 37235",United States
493,James Clemens High School,Unknown,NaN,2012.0,2016.0,https://www.linkedin.com/in/michelleabreo/,"11306 County Line Rd, Madison, AL 35756",United States

,school,degree,field_of_study,start,end,id,location,Country
23,University of Virginia,Bachelors,Cognitive Science,2011.0,2014.0,https://www.linkedin.com/in/mneterval/,"Charlottesville, VA",United States

,school,degree,field_of_study,start,end,id,location,Country
398,University of Maryland College Park,Bachelors,Computer Science,2015.0,2019.0,https://www.linkedin.com/in/nathan-li-a63675105/,"College Park, MD 20742",United States
399,University of Maryland College Park,Bachelors,Finance,2015.0,2019.0,https://www.linkedin.com/in/nathan-li-a63675105/,"College Park, MD 20742",United States
400,Advanced Cybersecurity Experience for Students,NaN,NaN,2015.0,2017.0,https://www.linkedin.com/in/nathan-li-a63675105/,NaN,NaN

,school,degree,field_of_study,start,end,id,location,Country
42,University of Maryland College Park,Bachelors,Computer Science,2014.0,2018.0,https://www.linkedin.com/in/neelimapradhan/,"College Park, MD 20742",United States

,school,degree,field_of_study,start,end,id,location,Country
81,Stanford University,Masters,Electrical Engineering (Software Engineering),2013.0,2015.0,https://www.linkedin.com/in/negar-rahmati-a269...,"450 Serra Mall, Stanford, CA 94305",United States
82,Sharif University of Technology,Bachelors,Computer Engineering,2009.0,2013.0,https://www.linkedin.com/in/negar-rahmati-a269...,Iran,NaN

,school,degree,field_of_study,start,end,id,location,Country
434,University of Pennsylvania,Bachelors,Computer Science,2011.0,2015.0,https://www.linkedin.com/in/nicole-limtiaco-11...,"Philadelphia, PA 19104",United States

,school,degree,field_of_study,start,end,id,location,Country
305,"University of California, Berkeley",Bachelors,Computer Science,2012.0,2016.0,https://www.linkedin.com/in/nisha-agarwal-6642...,"Berkeley, CA",United States

,school,degree,field_of_study,start,end,id,location,Country
65,University of Oregon,Masters,Computer Science,2011.0,2013.0,https://www.linkedin.com/in/paul-hs-elliott/,"1585 E 13th Ave, Eugene, OR 97403",United States
66,DePauw University,Bachelors,Computer Science,2007.0,2011.0,https://www.linkedin.com/in/paul-hs-elliott/,"Mezzanine Level, Administration Building, 313 ...",United States

,school,degree,field_of_study,start,end,id,location,Country
424,"University of California, Berkeley",Bachelors,Computer Science,2015.0,2019.0,https://www.linkedin.com/in/pbitutsky/,"Berkeley, CA",United States
425,"University of California, Berkeley, Haas Schoo...",Bachelors,Business Administration,2015.0,2019.0,https://www.linkedin.com/in/pbitutsky/,"2220 Piedmont Ave, Berkeley, CA 94720",United States
426,Stanton College Preparatory High School,Bachelors,NaN,2011.0,2015.0,https://www.linkedin.com/in/pbitutsky/,"1149 W 13th St, Jacksonville, FL 32209",United States

,school,degree,field_of_study,start,end,id,location,Country
185,"University of California, Davis",Bachelors,NaN,NaN,NaN,https://www.linkedin.com/in/prajaktasurve/,"1 Shields Ave, Davis, CA 95616",United States

,school,degree,field_of_study,start,end,id,location,Country
179,"University of California, Irvine",Masters,Computer Science,2012.0,2013.0,https://www.linkedin.com/in/preethipuducherisu...,"Irvine, CA 92697",United States
180,PES institute of technology,Bachelors,Computer Science and Engineering,2008.0,2012.0,https://www.linkedin.com/in/preethipuducherisu...,NaN,NaN

,school,degree,field_of_study,start,end,id,location,Country
209,University of Michigan,Bachelors,Computer Science,2013.0,2017.0,https://www.linkedin.com/in/qinyushen/,"500 S State St, Ann Arbor, MI 48109",United States

,school,degree,field_of_study,start,end,id,location,Country
262,Massachusetts Institute of Technology,Unknown,NaN,2017.0,2017.0,https://www.linkedin.com/in/rlingutla/,"77 Massachusetts Ave, Cambridge, MA 02139",United States
263,"University of Massachusetts, Amherst",Bachelors,Computer Science,2014.0,2017.0,https://www.linkedin.com/in/rlingutla/,"Amherst, MA 01003",United States
264,Lenox Memorial Middle and High School,NaN,NaN,2009.0,2014.0,https://www.linkedin.com/in/rlingutla/,"197 East St, Lenox, MA 01240",United States

,school,degree,field_of_study,start,end,id,location,Country
413,Rice University,Masters,Civil and Environmental Engineering,2008.0,2012.0,https://www.linkedin.com/in/rob-ocallahan/,"6100 Main St, Houston, TX 77005",United States
414,University of Illinois at Urbana-Champaign,Bachelors,Materials Science and Engineering,2004.0,2008.0,https://www.linkedin.com/in/rob-ocallahan/,"Champaign, IL",United States
415,ETHS,NaN,NaN,NaN,NaN,https://www.linkedin.com/in/rob-ocallahan/,"1600 Dodge Ave, Evanston, IL 60201",United States

,school,degree,field_of_study,start,end,id,location,Country
295,Georgia Institute of Technology,Bachelors,"Computer Science, Intelligence-Media, Minor in...",2016.0,2020.0,https://www.linkedin.com/in/ruihan-cathy-xu-1a...,"North Ave NW, Atlanta, GA 30332",United States
296,,Unknown,Computer Graphics Program,2015.0,NaN,https://www.linkedin.com/in/ruihan-cathy-xu-1a...,"Philadelphia, PA 19104",United States

,school,degree,field_of_study,start,end,id,location,Country
546,Brown University,Bachelors,Neuroscience,2011.0,2015.0,https://www.linkedin.com/in/sarah-parker-31713...,"Providence, RI 02912",United States
547,Hacker School,NaN,NaN,2014.0,NaN,https://www.linkedin.com/in/sarah-parker-31713...,NaN,NaN
548,Elgin Academy,NaN,NaN,NaN,NaN,https://www.linkedin.com/in/sarah-parker-31713...,"350 Park St, Elgin, IL 60120",United States

,school,degree,field_of_study,start,end,id,location,Country
234,Georgia Institute of Technology,Bachelors,Computer Science,2008.0,2012.0,https://www.linkedin.com/in/saul-reynolds-haer...,"North Ave NW, Atlanta, GA 30332",United States
235,Georgia Institute of Technology,Unknown,Robotics,2012.0,NaN,https://www.linkedin.com/in/saul-reynolds-haer...,"North Ave NW, Atlanta, GA 30332",United States

,school,degree,field_of_study,start,end,id,location,Country
268,University of Maryland College Park,Unknown,Computer Science,1997.0,2006.0,https://www.linkedin.com/in/seungryul-choi-b8b...,"College Park, MD 20742",United States
269,Seoul National University,Masters,Computer Science,1992.0,1994.0,https://www.linkedin.com/in/seungryul-choi-b8b...,"1 Gwanak-ro, Gwanak-gu, Seoul, South Korea",NaN
270,Seoul National University,Bachelors,Computer Science & Statistics,1988.0,1992.0,https://www.linkedin.com/in/seungryul-choi-b8b...,"1 Gwanak-ro, Gwanak-gu, Seoul, South Korea",NaN

,school,degree,field_of_study,start,end,id,location,Country
5,Carnegie Mellon University,Masters,NaN,2018.0,2019.0,https://www.linkedin.com/in/sheetalsh456/,"5000 Forbes Ave, Pittsburgh, PA 15213",United States
6,National Institute of Technology Karnataka,Bachelors,Computer Engineering,2014.0,2018.0,https://www.linkedin.com/in/sheetalsh456/,NaN,NaN
7,"Narayana PU College, Bangalore",Unknown,PCMC,2012.0,2014.0,https://www.linkedin.com/in/sheetalsh456/,NaN,NaN

,school,degree,field_of_study,start,end,id,location,Country
376,Northwestern University,Bachelors,Computer Science,2013.0,2017.0,https://www.linkedin.com/in/sophialou/,"633 Clark St, Evanston, IL 60208",United States
377,Kent Denver High School,Unknown,NaN,2006.0,2013.0,https://www.linkedin.com/in/sophialou/,"4000 E Quincy Ave, Cherry Hills Village, CO 80113",United States

,school,degree,field_of_study,start,end,id,location,Country
181,Stanford University,Bachelors,Computer Science,2013.0,2017.0,https://www.linkedin.com/in/srice2/,"450 Serra Mall, Stanford, CA 94305",United States

,school,degree,field_of_study,start,end,id,location,Country
464,Georgia Institute of Technology,Ph.D,Computer Science,2013.0,2020.0,https://www.linkedin.com/in/stevenhickson/,"North Ave NW, Atlanta, GA 30332",United States
465,Clemson University,Bachelors,Computer Engineering,2008.0,2012.0,https://www.linkedin.com/in/stevenhickson/,"105 Sikes Hall, Clemson, SC 29634",United States

,school,degree,field_of_study,start,end,id,location,Country
24,"University of California, Riverside",Unknown,Computer Science,2002.0,2006.0,https://www.linkedin.com/in/tituswinters/,"900 University Ave, Riverside, CA 92521",United States
25,"University of California, Riverside",Masters,Computer Science,2002.0,2004.0,https://www.linkedin.com/in/tituswinters/,"900 University Ave, Riverside, CA 92521",United States
26,Harvey Mudd College,Bachelors,Computer Science,1998.0,2002.0,https://www.linkedin.com/in/tituswinters/,"301 Platt Blvd, Claremont, CA 91711",United States

,school,degree,field_of_study,start,end,id,location,Country
18,New York University,Masters,Computer Science,2014.0,2015.0,https://www.linkedin.com/in/tyler-bp/,"New York, NY 10003",United States
19,New York University,Bachelors,Mathematics and Computer Science,2011.0,2014.0,https://www.linkedin.com/in/tyler-bp/,"New York, NY 10003",United States
20,Fountain Valley High School,NaN,NaN,2007.0,2011.0,https://www.linkedin.com/in/tyler-bp/,"17816 Bushard St, Fountain Valley, CA 92708",United States

,school,degree,field_of_study,start,end,id,location,Country
327,Rensselaer Polytechnic Institute,Bachelors,"Mathematics, Concentration: Operations Researc...",2010.0,2013.0,https://www.linkedin.com/in/vera-axelrod-044b5...,"110 8th St, Troy, NY 12180",United States
328,Haverford College,NaN,Mathematics,2009.0,2010.0,https://www.linkedin.com/in/vera-axelrod-044b5...,"370 Lancaster Ave, Haverford, PA 19041",United States

,school,degree,field_of_study,start,end,id,location,Country
170,Illinois Institute of Technology,Bachelors,Computer Science,2015.0,2019.0,https://www.linkedin.com/in/vineshkannan/,"10 W 35th St, Chicago, IL 60616",United States
171,Illinois Mathematics and Science Academy,NaN,NaN,2012.0,2015.0,https://www.linkedin.com/in/vineshkannan/,"1500 Sullivan Rd, Aurora, IL 60506",United States
172,Schaumburg High School,NaN,NaN,2011.0,2012.0,https://www.linkedin.com/in/vineshkannan/,"Northwest Suburbs, 1100 W Schaumburg Rd, Schau...",United States

,school,degree,field_of_study,start,end,id,location,Country
499,"University of California, Davis",Masters,Computer Science,2017.0,2018.0,https://www.linkedin.com/in/vinyang/,"1 Shields Ave, Davis, CA 95616",United States
500,"University of California, Davis",Bachelors,Computer Science,2014.0,2017.0,https://www.linkedin.com/in/vinyang/,"1 Shields Ave, Davis, CA 95616",United States
501,Homestead High School,NaN,NaN,2010.0,2014.0,https://www.linkedin.com/in/vinyang/,NaN,NaN

,school,degree,field_of_study,start,end,id,location,Country
531,University of Central Florida,Bachelors,Computer Science,2017.0,2021.0,https://www.linkedin.com/in/wanda-mora-511842174/,"4000 Central Florida Blvd, Orlando, FL 32816",United States

,school,degree,field_of_study,start,end,id,location,Country
255,Northwestern University,Bachelors,Computer Science,2013.0,2017.0,https://www.linkedin.com/in/waynexun/,"633 Clark St, Evanston, IL 60208",United States

,school,degree,field_of_study,start,end,id,location,Country
497,Carnegie Mellon University,Masters,Electrical and Computer Engineering,2019.0,2020.0,https://www.linkedin.com/in/wonchung93/,"5000 Forbes Ave, Pittsburgh, PA 15213",United States
498,Carnegie Mellon University,Bachelors,"Electrical and Computer Engineering, Computer ...",2011.0,2016.0,https://www.linkedin.com/in/wonchung93/,"5000 Forbes Ave, Pittsburgh, PA 15213",United States

,school,degree,field_of_study,start,end,id,location,Country
504,Georgia Institute of Technology,Masters,Computer Science,2018.0,2020.0,https://www.linkedin.com/in/xujianliang/,"North Ave NW, Atlanta, GA 30332",United States
505,,Bachelors,Geographical Information Science,2014.0,2018.0,https://www.linkedin.com/in/xujianliang/,NaN,NaN

,school,degree,field_of_study,start,end,id,location,Country
410,The City College of New York,Ph.D,"EE, CS",2010.0,2015.0,https://www.linkedin.com/in/yanchen-liu-us/,"160 Convent Ave, New York, NY 10031",United States

,school,degree,field_of_study,start,end,id,location,Country
494,Mount Holyoke College,Bachelors,Computer Science,2014.0,2018.0,https://www.linkedin.com/in/ye-sung-rebecca-ki...,"50 College St, South Hadley, MA 01075",United States
495,Smith College,NaN,Computer Science,2017.0,2017.0,https://www.linkedin.com/in/ye-sung-rebecca-ki...,"Northampton, MA 01063",United States
496,"University of Massachusetts, Amherst",NaN,Computer Science,2015.0,2016.0,https://www.linkedin.com/in/ye-sung-rebecca-ki...,"Amherst, MA 01003",United States

,school,degree,field_of_study,start,end,id,location,Country
250,Cornell University,Masters,Architectural Science (Computer Graphics),1998.0,2000.0,https://www.linkedin.com/in/yeehector/,"Ithaca, NY 14850",United States
251,Cornell University,Bachelors,Computer Science,1995.0,1998.0,https://www.linkedin.com/in/yeehector/,"Ithaca, NY 14850",United States

,school,degree,field_of_study,start,end,id,location,Country
462,University of Illinois at Urbana-Champaign,Masters,Computer Science,2017.0,2018.0,https://www.linkedin.com/in/yining-wang-905008...,"Champaign, IL",United States
463,University of Illinois at Urbana-Champaign,Bachelors,Computer Science,2013.0,2017.0,https://www.linkedin.com/in/yining-wang-905008...,"Champaign, IL",United States

,school,degree,field_of_study,start,end,id,location,Country
69,Carnegie Mellon University,Masters,Computer Science (Machine Learning and Data An...,2012.0,2013.0,https://www.linkedin.com/in/yiwen-chen-8630b958/,"5000 Forbes Ave, Pittsburgh, PA 15213",United States
70,Tianjin University,Bachelors,Computer Software Engineering,2008.0,2012.0,https://www.linkedin.com/in/yiwen-chen-8630b958/,NaN,NaN

,school,degree,field_of_study,start,end,id,location,Country
520,Concordia University,Unknown,Computer Science,2001.0,2007.0,https://www.linkedin.com/in/yonggang-zhang-399...,"2811 NE Holman St, Portland, OR 97211",United States
521,Northeastern University (CN),Bachelors,Computer Science,1993.0,1997.0,https://www.linkedin.com/in/yonggang-zhang-399...,"360 Huntington Ave, Boston, MA 02115",United States

,school,degree,field_of_study,start,end,id,location,Country
282,State University of New York at Stony Brook,Bachelors,Computer Science,2011.0,2012.0,https://www.linkedin.com/in/yoomi-jung-a5049550/,"100 Nicolls Rd, Stony Brook, NY 11794",United States
283,University of Seoul,Bachelors,Computer Science,2009.0,2010.0,https://www.linkedin.com/in/yoomi-jung-a5049550/,"163 Seoulsiripdae-ro, Jeonnong-dong, Dongdaemu...",NaN

,school,degree,field_of_study,start,end,id,location,Country
455,University of Massachusetts Amherst,Masters,Computer Science,2017.0,2018.0,https://www.linkedin.com/in/yuvrajsingla/,"Amherst, MA 01003",United States
456,Thapar Institute of Engineering and Technology,Bachelors,Computer Engineering,2010.0,2013.0,https://www.linkedin.com/in/yuvrajsingla/,NaN,NaN

,school,degree,field_of_study,start,end,id,location,Country
54,University of Southern California,Masters,Electrical and Electronics Engineering,NaN,NaN,https://www.linkedin.com/in/zexichen/,"Los Angeles, CA 90007",United States
55,Beihang University,Bachelors,Electrical Engineering,NaN,NaN,https://www.linkedin.com/in/zexichen/,NaN,NaN

In [116]:
degrees.loc[degrees['school'] == 'Beihang University', 'Country'] = 'China'

In [117]:
degrees.loc[(degrees['location'].notnull()) & (degrees['location'].str.contains('United Kingdom')), 'Country'] = 'United Kingdom'

In [118]:
degrees[degrees['id'] == 'https://www.linkedin.com/in/xujianliang/']

,school,degree,field_of_study,start,end,id,location,Country
504,Georgia Institute of Technology,Masters,Computer Science,2018.0,2020.0,https://www.linkedin.com/in/xujianliang/,"North Ave NW, Atlanta, GA 30332",United States
505,,Bachelors,Geographical Information Science,2014.0,2018.0,https://www.linkedin.com/in/xujianliang/,NaN,NaN